/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sidebar & Submenu*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #343a40;
    transition: width 0.3s ease;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #fff;
}

.sidebar .description {
    font-size: 14px;
}

.sidebar .nav-link:hover {
    background-color: #494a56;
}

.sidebar .sub-menu{
    background-color: #262c33;
    padding-left: 5%;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Main Content */
.main-content {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}
@media(max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .description {
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }
}

/* Responsive Style */


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
